* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #272727;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}
